@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(228, 86, 30, 0.822);
}
main{
    background-color: white;
    
    width: 300px;
    height: 700px;
    text-align: center;   
    border: 2px solid black;
    border-radius: 3%;
    position: relative;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-1%,50%,50%);
    transition: width .3s,height .3s;
    transition-timing-function: ease;
   
    
}
#papelfundo{
    border-radius: 3%;
    box-shadow: 0px 0px 10px black;


    
   
   
}
/*Icone de email e senha*/
#iconlogin{
    width: 25px;
    height: 25px;  
    margin: 5px; 
}
#iconsenha{
    width: 25px;
    height: 25px;
    margin: 5px;
    
    
}
#fpemail{
    background-color: rgb(228, 86, 30);
    margin-bottom: 4px;
    width: 50px;
    height: 34px;
    margin-left: 20px;
    border-radius: 8px 0px 0px 8px;
   
    
    
}
#fpsenha{
    background-color: rgb(228, 86, 30);;
    width: 50px;
    margin-left: 20px;
    height: 34px;
    border-radius: 8px 0px 0px 8px;

    
}
/* Barra de input*/
#idsenha{
   width: 200px;
   height: 30px;
   margin-left: 6px;
   
   
   background-color:  rgba(228, 86, 30, 0.384);
   border-radius: 0px 8px 8px 0px;
   position: absolute;
  
   
   

}
#idemail{
    width: 200px;
    height: 30px;
    
    border-radius: 0px 8px 8px 0px;
    background-color:  rgba(228, 86, 30, 0.384);
    margin-left: 6px;
    position: absolute;
}

/*Entrar e esqueceu senha*/

.buttom{
    width: 280px;
    height: 50px;
    background-color: rgba(228, 86, 30, 0.726);
    margin-top: 5px;
    color: white;


}

